<!DOCTYPE html>
<html>

<head>
<title> SETTINGS </title>
<link rel="stylesheet" type="text/cs" href="./public/style.css">
<script>
  
  </script>
</head>

<body>
  
<form id="myForm" action="http://localhost:4002/vuln_transfer" method="POST" target="_blank">
        Account:<input type="text" name="account" value="your friend"/><br/>
        Amount :<input type="text" name="amount" value="$5000"/>
                <button>Transfer Money</button>
      </form>

</body>